* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #2672F4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    color: black;
    font-size: 44px;
    margin-top: 100px;
  }
  form {
    margin-top: 50px;
  }
  form input {
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
  }
  form button {
    width: 50px;
    height: 40px;
    border: none;
    background: teal;
    color: white;
    outline: none;
    cursor: pointer;
  }
  ul {
    margin-top: 20px;
    width: 400px;
    list-style: none;
    color: aliceblue;
  }
  ul li {
    width: 350px;
    list-style: none;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
    margin: 0 8px;
  }